<header class="header">
    <div class="container">
        <nav class="menu">
            <img class="menu__logo" src="../../www/img/logo.png" alt="">
            <ul class="menu__list">
                <li class="menu__item"><a href="#">Главная</a></li>
                <li><a href="#">О компании</a></li>
                <li><a href="#">Оценка</a></li>
                <li><a href="#">Сделки M&A </a></li>
                <li><a href="#">Бухгалтерские услуги</a></li>
                <li><a href="#">Контакты</a></li>
                <div class="menu__img-phone">
                    <li class="menu__phone-number">+7 (495) 00-99-56</li>
                    <li class="menu-media__burger"><img src="../../www/img/menu.png" alt=""></li>
                </div>
            </ul>
        </nav>
        <div class="menu-meida__block"></div>


        

        

        <div class="header__armata-group-common">
            <div class="header__armata-group-block wow animate__animated animate__bounceInLeft">
                <h1>Armata Financical Group</h1>
                <a href="#"><img src="../../www/img/header-item.png" alt="">Независимая оценка имущества</a>
                <a href="#"><img src="../../www/img/header-item.png" alt="">Сделки cлияния и поглощения</a>
                <a href="#"><img src="../../www/img/header-item.png" alt="">Бухгалтерские услуги</a>
            </div>

            <div class="header__form wow animate__animated animate__bounceInRight">
                <h3>Заявка:</h3>
                <p>Оставьте заявку и мы свяжемся с вами в течение 15 минут в рабочее время с 10:00 до 18:00 c пн-пт.
                </p>
                <label>Ваше имя</label>
                <input type="text">
                <label>Ваш телефон</label>
                <input type="text">
                <button class="common-styles__button">Отправить</button>
            </div>

        </div>
    </div>
</header>