
    <section class="beautiful-on-every-device container wow animate__animated animate__bounceInUp">
        <div class="beautiful-on-every-device__phone">
            <img src="../../www/img/header-2.png">
        </div>
        
        <div class="beautiful-on-every-device__text">
            <h3>dip into the details</h3>
            <h2>Beautiful on every device</h2>
            <img src="../../www/img/daag.png">
            <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.</p>
            <p class="beautiful-on-every-device__icon-text"><i class="fas fa-trophy beautiful-on-every-device__icon"></i>Awesome design</p>
            <p class="beautiful-on-every-device__icon-text"><i class="fas fa-mobile-alt beautiful-on-every-device__icon"></i>Fully responsive</p>
            <p class="beautiful-on-every-device__icon-text"><i class="fas fa-bolt beautiful-on-every-device__icon"></i>Retina ready</p>
            <p class="beautiful-on-every-device__icon-text"><i class="fas fa-tachometer-alt beautiful-on-every-device__icon"></i>Tons of features and easy to use</p>        
        </div>
    </section>