<section class="benefits">
    <div class="benefits__headline wow animate__animated animate__zoomIn">
        <h2 class="common-styles__headline">Преимущества Armata Financical Group</h2>
    </div>
    <p class="wow animate__animated animate__zoomIn"><span>Компания AFG</span>поддерживает российские и иностранные компании, работающие на отечественном рынке в
        решении задач экономического роста, защиты своих интересов, управления текущей деятельностью. Помогает
        создавать системы владения активами, устанавливает коммуникации с новыми партнерами и рынками, организует
        сделки и привлекает капиталы.</p>
    <div class="benefits__common-block container">

        <div class="benefits__block wow animate__animated animate__flipInY">
            <span class="benefits__discount">50%</span>
            <h3>Скидки</h3>
            <p class="benefits__text">Предоставляем всем нашим клиентам уникальную возможность получить скидку
                <span class="benefits__discount-two">50%</span> на все услуги</p>
        </div>

        <div class="benefits__block wow animate__animated animate__flipInY">
            <div class="benefits__discount">
                <img src="../../www/img/benefits-2.png" alt="">
            </div>
            <h3>Скидки</h3>
            <p class="benefits__text">У нас большой опыт работы
                в крупнейших консалтинговых
                компаниях</p>
        </div>

        <div class="benefits__block wow animate__animated animate__flipInY">
            <div class="benefits__discount">
                <img src="../../www/img/benefits-3.png" alt="">
            </div>
            <h3>Скидки</h3>
            <p class="benefits__text">Предоставляем всем нашим клиентам уникальную возможность получить скидку
                <span class="benefits__discount-two">50%</span> на все услуги</p>
        </div>
    </div>

    <div class="benefits__contact">
        <div class="benefits__button">
            <button class="common-styles__button">Обратиться к нам</button>
        </div>
    </div>
</section>