
    <section class="blogs">
        <div class="blogs__common">
            <div class="container">
                <div class="blogs__common-block">
                    <nav class="blogs__menu">
                        <h2 class="style-common__headline"><span class="style-common__headline-color">B</span>logs</h2>
                        <ul>
                            <li><a href="#">Latest Posts</a></li>
                            <li><a href="#">App Design</a></li>
                            <li><a href="#">App Development</a></li>
                            <li><a href="#">Design Solutions</a></li>
                            <li><a href="#">Quality Assurance</a></li>
                            <li><a href="#">Development Mode</a></li>
                            <li><a href="#">What’s Out There</a></li>
                        </ul>
                    </nav>

                    <div class="blogs__block-one">
                        <img src="../../www/img/blogs/blogs-1.png" alt="">
                        <h3>July 4th 2016</h3>
                        <p class="blogs__text-one">Lorem ipsum dolor sit amet</p>
                        <p class="blogs__text-two">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.
                            Nulla facilisis molestie dignissim. </p>
                    </div>

                    <div class="blogs__block-one">
                        <div class="blogs__block-img">
                            <img src="../../www/img/blogs/blogs-2.0.png" alt="">
                        </div>
                        <h3>July 4th 2016</h3>
                        <p class="blogs__text-one">Lorem ipsum dolor sit amet</p>
                        <p class="blogs__text-two">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.
                            Nulla facilisis molestie dignissim. </p>
                    </div>

                    <div class="blogs__block-one">
                        <img src="../../www/img/blogs/blogs-3.png" alt="">
                        <h3>July 4th 2016</h3>
                        <p class="blogs__text-one">Lorem ipsum dolor sit amet</p>
                        <p class="blogs__text-two">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.
                            Nulla facilisis molestie dignissim. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>