
    <section class="our-team">
        <div class="our-team__common">
            <div class="container">
                <div class="our-team__headline-block">
                    <h2 class="style-common__headline"> <span class="style-common__headline-color">O</span>ur
                        <span>T</span>eam</h2>
                    <div class="our-team__block-text">
                        <p class="our-team__text-one">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                            facilisis molestie dignissim. Nulla pellentesque et nisi et euismod. Pellentesque quis
                            tristique magna.</p>
                        <p class="our-team__text-two">Maecenas est risus, tristique volutpat sagittis vel, feugiat
                            consectetur diam. Suspendisse justo sem, molestie tincidunt </p>
                    </div>
                </div>

                <div class="our-team__item-block-common">
                    <div class="our-team__item">
                        <img src="../../www/img/our-team/our-team-1.png" alt="">
                        <h3>John Doe</h3>
                        <p>CoFounder / CEO</p>
                    </div>

                    <div class="our-team__item">
                        <img src="../../www/img/our-team/our-team-2.png" alt="">
                        <h3>John Doe</h3>
                        <p>process Manager</p>
                    </div>

                    <div class="our-team__item">
                        <img src="../../www/img/our-team/our-team-3.png" alt="">
                        <h3>John Doe</h3>
                        <p>Sales President</p>
                    </div>

                    <div class="our-team__item">
                        <img src="../../www/img/our-team/our-team-4.png" alt="">
                        <h3>John Doe</h3>
                        <p>Developer</p>
                    </div>

                </div>
            </div>
        </div>
    </section>