<section class="working">
    <div class="working__headline wow animate__animated animate__zoomIn">
        <h2 class="common-styles__headline">Как мы работаем</h2>
    </div>
    <div class="working__common container">
        <div class="working__block wow animate__animated animate__lightSpeedInLeft">
            <img src="../../www/img/working-item.png" alt="">
            <p>1. Вы оставляете заявку</p>
        </div>

        <div class="working__block wow animate__animated animate__lightSpeedInLeft">
            <img src="../../www/img/working-item-2.png" alt="">
            <p>2. Подписываем договор</p>
        </div>

        <div class="working__block wow animate__animated animate__lightSpeedInLeft">
            <img src="../../www/img/working-item-3.png" alt="">
            <p>3. Мы проводим оценку</p>
        </div>

        <div class="working__block wow animate__animated animate__lightSpeedInLeft">
            <img src="../../www/img/working-item-4.png" alt="">
            <p>4. Вы получаете отчет</p>
        </div>
    </div>

    <div class="working__buuton">
        <button class="common-styles__button">Оставить заявку</button>
    </div>
</section>