<section class="professionals">
    <div class="container">
        <div class="professionals__common">
            <div class="professionals__block-one wow animate__animated animate__bounceInLeft">
                <div class="professionals__headline wow animate__animated animate__zoomIn">
                    <h2 class="common-styles__headline">Мы - профессионалы!</h2>
                </div>
                <p class="professionals__headline-text wow animate__animated animate__zoomIn">Наши специалисты являются профессионалами высочайшего
                    класса, лауреатами и призерами многих конкурсов и первенств в области финансов и бухгалтерии. За
                    своими плечами имеют богатый опыт осуществления проектов в области оценки, ведения бухгалтерии,
                    слияний и присоединений в сферах строительства, жилищно-коммунальных услуг, производства,
                    аэрокосмической промышленности и прочих.</p>
                <div class="professionals-block-common">
                    <div class="professionals__block">
                        <img src="../../www/img/professionals-1.png" alt="">
                        <p class="professionals__block-text">Диплом по налогообложению РФ (ДипНРФ), квалификация
                            ACCA</p>
                    </div>
                    
                    <div class="professionals__block">
                        <img src="../../www/img/professionals-2.png" alt="">
                        <p class="professionals__block-text">Аттестат профессионального бухгалтера Института
                            профессиональных бухгалтеров России</p>
                    </div>

                    <div class="professionals__block">
                        <img src="../../www/img/professionals-3.png" alt="">
                        <p class="professionals__block-text">Аттестат налогового консультанта 2-й категории Палаты
                            налоговых консультантов России</p>
                    </div>

                    <div class="professionals__block">
                        <img src="../../www/img/professionals-4.png" alt="">
                        <p class="professionals__block-text">Призер Первой всероссийской премии бухгалтеров
                            строительной отрасли «Профессиональные грани-2011»</p>
                    </div>
                </div>
            </div>

            <div class="professionals__block-two wow animate__animated animate__bounceInRight">
                <h3>Оставить заявку:</h3>
                <p>Оставьте заявку и мы свяжемся с вами в течение 15 минут в рабочее время с 10:00 до 18:00 c пн-пт.
                </p>
                <label>Ваше имя</label>
                <input type="text">
                <label>Ваш телефон</label>
                <input type="text">
                <button class="common-styles__button">Отправить</button>
            </div>
        </div>
    </div>
</section>