<header class="header">
    <div class="menu container">
        <img class="menu__logo" src="../../www/img/logo.png">
        <nav>
            <ul class="menu__list-item">
                <li><a href="#"><span class="menu__item-active">Home</span></a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="menu__media-tablet">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </div>

    <nav class="menu__media-tablet-block hidden">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <div class="header__block container">
        <div class="header__block-text  animate__animated animate__bounceInLeft">
            <h3>introducing lucid theme</h3>
            <h1>Carefully crafted and beautiful landing page.</h1>
            <p>Etiam ullamcorper et turpis eget hendrerit. Praesent varius risus mi, at elementum magna ultricies
                accumsan. Cras venenatis lacus sed dolor placerat tempus. Morbi blandit at neque ut imperdiet.</p>

            <div class="header__block-button">
                <button class="header__button-active">download now</button>
                <button>view features</button>
            </div>
        </div>

        <div class="header__block-phone animate__animated animate__bounceInRight">
            <img src="../../www/img/header-2.png">
        </div>
    </div>
</header>