
    <section class="easy-customize">
        <div class="easy-customize__common container">
            <div class="easy-customize__block-text wow animate__animated animate__fadeInLeft">
                <h4>dip into the details</h4>
                <h2>Super easy to customize</h2>
                <img src="../../www/img/daag.png">
                <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            </div>
            <div class="easy-customize__img wow animate__animated animate__fadeInRight">
                <img class="" src="../../www/img/laid-phone2.png">
            </div>
        </div>
    </section>