
    <section class="provided">
        <div class="provided__common">
            <div class="container">
                <div class="provided__headline-block">
                    <h2 class="style-common__headline"><span class="style-common__headline-color">S</span>ervices
                        <span>P</span>rovided</h2>
                </div>
                <div class="provided__item-common">
                    <div class="provided__item">
                        <h3>App Development</h3>
                        <p>Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse
                            justo sem, molestie tincidunt Maecenas est risus, tristique volutpat sagittis vel, feugiat
                            consectetur diam. Suspendisse justo sem, molestie tincidunt </p>
                    </div>

                    <div class="provided__item">
                        <h3>Game Development</h3>
                        <p>Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam. Suspendisse
                            justo sem, molestie tincidunt Maecenas est risus, tristique volutpat sagittis vel, feugiat
                            consectetur diam. Suspendisse justo sem, molestie tincidunt </p>
                    </div>

                    <div class="provided__item-common-two">
                        <div class="provided__item">
                            <h3>App Design</h3>
                            <p>Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam.
                                Suspendisse justo sem, molestie tincidunt Maecenas est risus, tristique volutpat
                                sagittis vel, feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt </p>
                        </div>

                        <div class="provided__item">
                            <h3>Game Design</h3>
                            <p>Maecenas est risus, tristique volutpat sagittis vel, feugiat consectetur diam.
                                Suspendisse justo sem, molestie tincidunt Maecenas est risus, tristique volutpat
                                sagittis vel, feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt </p>
                        </div>
                    </div>
                </div>
            </div>
    </section>