
    <section class="quality-price-plan">
        <h4>quality has its price</h4>
        <h2>Pricings & Plans</h2>
        <img src="../../www/img/daag.png">
        <div class="quality-price-plan__block-comon container">
            <div class="quality-price-plan__block wow animate__animated animate__zoomIn">
                <h3>FREE</h3>
                <div class="quality-price-plan__price-block">
                    <h6><span class="quality-price-plan__posit">$</span>0</h6>
                    <h5>/per month</h5>
                </div>
                <p>Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum <span class="quality-price-plan__lacinia">lacinia</span> consectetur.</p>
                <button>ORDER NOW</button>
            </div>

            <div class="quality-price-plan__block wow animate__animated animate__zoomIn">
                <h3>PERSONAL</h3>
                <div class="quality-price-plan__price-block">
                    <h6><span class="quality-price-plan__posit">$</span>25</h6>
                    <h5>/per month</h5>
                </div>
                <p>Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum <span class="quality-price-plan__lacinia">lacinia</span> consectetur.</p>
                <button>ORDER NOW</button>
            </div>

            <div class="quality-price-plan__block wow animate__animated animate__zoomIn">
                <h3 class="quality-price-plan__headline">BUSINESS</h3>
                <div class="quality-price-plan__price-block  quality-price-plan__price-block--active">
                    <h6><span class="quality-price-plan__posit">$</span>50</h6>
                    <h5>/per month</h5>
                </div>
                <p>Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum <span class="quality-price-plan__lacinia">lacinia</span> consectetur.</p>
                <button class="quality-price-plan__button--active">ORDER NOW</button>
            </div>

            <div class="quality-price-plan__block wow animate__animated animate__zoomIn">
                <h3>ULTIMATE</h3>
                <div class="quality-price-plan__price-block">
                    <h6><span class="quality-price-plan__posit">$</span>99</h6>
                    <h5>/per month</h5>
                </div>
                <p>Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum <span class="quality-price-plan__lacinia">lacinia</span> consectetur.</p>
                <button>ORDER NOW</button>
            </div>
        </div>
    </section>