<footer class="footer">
    <div class="footer__common">
        <div class="footer__block-item">
            <nav class="footer__block-one">

                <h3 class="style-common__headline"><span class="style-common__headline-color">S</span>ublime
                </h3>
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT SUBLIME</a></li>
                    <li><a href="#">OUR WORKS</a></li>
                    <li><a href="#">SERVICES</a></li>
                    <li><a href="#">TEAM</a></li>
                    <li><a href="#">TESTIMONIALS</a></li>
                    <li><a href="#">BLOG</a></li>
                    <li><a href="#">CLIENTS</a></li>
                    <li><a href="#">CONTACT US</a></li>
                </ul>

                <div class="footer__block-icon">
                    <img src="../../www/img/contact-us/contact-us-1.png" alt="">
                    <img src="../../www/img/contact-us/contact-us-2.png" alt="">
                    <img src="../../www/img/contact-us/contact-us-3.png" alt="">
                </div>

            </nav>

            <div class="footer__block-two">
                <h2 class="style-common__headline"><span class="style-common__headline-color">We</span> create
                    <br> Awesome Games </h2>
            </div>



        </div>
    </div>
</footer>