<section class="m-a-deals">
    <div class="container">
        <h2 class="common-styles__headline wow animate__animated animate__zoomIn">СДЕЛКИ M&A</h2>
        <p class="wow animate__animated animate__zoomIn"><span>Сделки cлияния и поглощения</span> – это процессы укрупнения бизнеса и капитала. Популярность
            сделки слияния и поглощения приобрели в конце 80-х годов и сейчас они являются одним из основных
            движущих факторов развития бизнеса на макро и микроуровне. Эффективность сделок слияния и поглощения
            огромна и не вызывает сомнений.</p>
        <h3>НАШИ УСЛУГИ ПО <a href="#" class="m-a-deals__main-link">СОПРОВОЖДЕНИЮ СДЕЛОК M&A</a></h3>

        <div class="m-a-deals__common-block">
            <div class="m-a-deals__block wow animate__animated animate__flipInX">
                <span><img src="../../www/img/m&a-deals/1.png" alt=""></span>
                <a href="#">Разработка новой структуры управления бизнесом</a>
            </div>

            <div class="m-a-deals__block wow animate__animated animate__flipInX">
                <span><img src="../../www/img/m&a-deals/2.png" alt=""></span>
                <a href="#">Консультации по предпродажной подготовке бизнеса</a>
            </div>

            <div class="m-a-deals__block wow animate__animated animate__flipInX">
                <span><img src="../../www/img/m&a-deals/3.png" alt=""></span>
                <a href="#">Анализ стоимости бизнеса и активов</a>
            </div>

            <div class="m-a-deals__block wow animate__animated animate__flipInX">
                <span><img src="../../www/img/m&a-deals/4.png" alt=""></span>
                <a href="#">Консультации с покупателями и сопровождение</a>
            </div>

            <div class="m-a-deals__block wow animate__animated animate__flipInX">
                <span><img src="../../www/img/m&a-deals/5.png" alt=""></span>
                <a href="#">Юридический аудит приобретаемого актива</a>
            </div>

            <div class="m-a-deals__block wow animate__animated animate__flipInX">
                <span><img src="../../www/img/m&a-deals/6.png" alt=""></span>
                <a href="#">Разработка оптимальной схемы приобретения актива</a>
            </div>
        </div>

        <div class="m-a-deals__common-block-two">
            <div class="m-a-deals__block wow animate__animated animate__flipInX">
                <span><img src="../../www/img/m&a-deals/7.png" alt=""></span>
                <a href="#">Организация финансирования сделки</a>
            </div>

            <div class="m-a-deals__block wow animate__animated animate__flipInX">
                <span><img src="../../www/img/m&a-deals/8.png" alt=""></span>
                <a href="#">Подготовка и сопровождение документации</a>
            </div>

            <div class="m-a-deals__block wow animate__animated animate__flipInX">
                <span><img src="../../www/img/m&a-deals/9.png" alt=""></span>
                <a href="#">Получение разрешений в государственных органах</a>
            </div>

            <div class="m-a-deals__block wow animate__animated animate__flipInX">
                <span><img src="../../www/img/m&a-deals/10.png" alt=""></span>
                <a href="#">Интеграция нового актива в схему управления холдингом</a>
            </div>
        </div>
    </div>

    <div class="m-a-deals__order-escort">
        <div class="m-a-deals__button">
            <button class="common-styles__button">Заказать сопровождение</button>
        </div>
    </div>
</section>