
    <section class="testimonials">
        <div class="testimonials__common">
            <div class="container">
                <h2 class="style-common__headline"><span class="style-common__headline-color">T</span>estimonials</h2>
                <div class="testimonials__block-item">

                    <div class="testimonials__block-text">
                        <p class="testimonials__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                            facilisis molestie dignissim. Nulla pellentesque et nisi et euismod. Pellentesque quis
                            tristique magna.</p>
                        <p class="testimonials__text-two">Maecenas est risus, tristique volutpat sagittis vel, feugiat
                            consectetur diam. Suspendisse justo sem, molestie tincidunt </p>
                    </div>

                    <div class="testimonials__man">
                        <img src="../../www/img/testimonials/testimonials-1.png" alt="">
                        <h3>John Doe</h3>
                        <p>CoFounder / CEO</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>