
.testimonials {
    background-color: #161616;

    h2 {
        color: #fff;
        padding-top: 45px;
        position: relative;

        &::after {
            top: 104px;
            left: 92px;
            height: 2px;
            width: 82px;
        }
    }

    span {
        font-size: 50px;
    }
}

.testimonials__common {
    background: #000;
    max-width: 1200px;
    margin: auto;
}

.testimonials__block-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 115px;
}

.testimonials__block-text {
    width: 66%;
}

.testimonials__text {
    font-family: 'MyriadPro-BoldSemiExtIt';
    font-size: 16px;
    color: #fff;

}

.testimonials__text-two {
    font-size: 14px;
    color: #fff;
}

.testimonials__man {

    text-align: center;

    img {
        border: 3px solid #ffc600;
        border-radius: 50%;
    }

    h3 {
        color: #fff;
        font-size: 16px;
        margin-top: 8px;
        margin-bottom: -15px;
    }

    p {
        color: #fff;
        font-family: 'MyriadPro-BoldSemiExtIt';
        font-size: 16px;
    }
}


@media screen and (min-width: 750px) and (max-width: 1170px) {

    .testimonials h2 {
        padding-left: 20px;
    }

    .testimonials__block-item {
        padding-bottom: 70px;
        padding-left: 20px;
        padding-right: 20px;
    }
}


@media screen and (min-width: 320px) and (max-width: 750px) {

    .testimonials__block-item {
        flex-wrap: wrap;
        padding-bottom: 80px;
    }

    .testimonials h2 {
        margin-left: 65px;
    }

    .testimonials__man {
        padding-top: 40px;
    }

}