
   <footer class="footer wow animate__animated animate__fadeInUp">
    <div class="footer__icon-block container">
        <i class="fab fa-behance footer__icon"></i>
        <i class="fab fa-dribbble footer__icon"></i>
        <i class="fab fa-twitter footer__icon"></i>
        <i class="fab fa-facebook-f footer__icon"></i>
        <i class="fab fa-linkedin-in footer__icon"></i>
    </div>
    <p>COPYRIGHT © 2015 Mostafizur Rahman</p>
</footer>