<section class="property-valuation">
    <div class="property-valuation__common">
        <h2 class="common-styles__headline property-valuation__headline wow animate__animated animate__zoomIn">НЕЗАВИСИМАЯ ОЦЕНКА ИМУЩЕСТВА</h2>
        <div>
            <p class="wow animate__animated animate__zoomIn"><span class="property-valuation__bold">Определение рыночной стоимости</span> любого актива, или <a
                    class="property-valuation__assessment" href="#"> оценка</a> — это первый этап всех рыночных
                отношений. Оценка заключается в объективном анализе объекта с целью придания ему стоимостных
                характеристик, выраженных в едином денежном эквиваленте.</p>
        </div>
    </div>

    <div class="property-valuation__common-bg">
        <div class="property-valuation__logo-bg wow animate__animated animate__fadeInDownBig"></div>
        <div class="property-valuation__item-bg">
            <div class="property-valuation__img-logo"><img src="../../www/img/logo-two.png" alt=""></div>
        </div>
        <div class="property-valuation__item-bg-two"></div>
        <div class="property-valuation__item-logo-bg-two"></div>

        <div class="property-valuation__assessment-common container">
            <div class="property-valuation__assessment property-valuation__one wow animate__animated animate__zoomIn">
                <a href="#">Оценка бизнеса и предприятий</a>
                <p>Профессиональная оценка бизнес-активов предприятия</p>
            </div>

            <div class="property-valuation__assessment property-valuation__two wow animate__animated animate__zoomIn">
                <a href="#">Оценка ценных бумаг</a>
                <p>Профессиональная оценка бизнес-активов предприятия</p>
            </div>

            <div class="property-valuation__assessment property-valuation__three wow animate__animated animate__zoomIn">
                <a href="#">Оценка машин и оборудования</a>
                <p>Профессиональная оценка бизнес-активов предприятия</p>
            </div>

            <div class="property-valuation__assessment property-valuation__four wow animate__animated animate__zoomIn">
                <a href="#">Оценка нематериальных активов</a>
                <p class="property-valuation__text">Профессиональная оценка бизнес-активов предприятия</p>
            </div>


            <div class="property-valuation__assessment property-valuation__five wow animate__animated animate__zoomIn">
                <a href="#">Оценка недвижимости</a>
                <p>Профессиональная оценка бизнес-активов предприятия</p>
            </div>

            <div class="property-valuation__assessment property-valuation__six wow animate__animated animate__zoomIn">
                <a href="#">Оценка инвестиционных проектов</a>
                <p>Профессиональная оценка бизнес-активов предприятия</p>
            </div>

            <div class="property-valuation__assessment property-valuation__seven wow animate__animated animate__zoomIn">
                <a href="#">Бизнес-планирование и оценка</a>
                <p class="property-valuation__text">Профессиональная оценка бизнес-активов предприятия</p>
            </div>

            <div class="property-valuation__assessment property-valuation__eight wow animate__animated animate__zoomIn">
                <a href="#">Оценка себестоимости продукции</a>
                <p class="property-valuation__text">Профессиональная оценка бизнес-активов предприятия</p>
            </div>
        </div>
    </div>
    <div class="property-valuation__order-rating">
        <div class="property-valuation__button">
            <button class="common-styles__button">Заказать оценку</button>
        </div>
    </div>
</section>