<section class="accounting-services">
    <div class="accounting-services__headline wow animate__animated animate__zoomIn">
        <h2 class="common-styles__headline">Бухгалтерские услуги</h2>
    </div>
    <p class="wow animate__animated animate__zoomIn"><span>Бухгалтерский учёт</span> это строго структурированная система сбора, регистрации и систематизации
        информации в денежном выражении о состоянии имущества, обязательств организации и их изменениях путём
        сплошного, непрерывного и документального учёта всех хозяйственных и экономических операций.</p>
    <div class="accounting-services__bg">
        <div class="accounting-services__img wow animate__animated animate__fadeInDownBig"><img src="../../www/img/Grou.png" alt=""></div>
    </div>

    <div class="accounting-services__common-block container">
        <div class="accounting-services__block accounting-services__block-one wow animate__animated animate__zoomIn">
            <a href="#">Обработка данных</a>
            <p class="accounting-services__block-text">Обработка, систематизация и введение данных в бухгалтерскую
                программу</p>
        </div>

        <div class="accounting-services__block accounting-services__block-two wow animate__animated animate__zoomIn">
            <a href="#">Документальное оформление</a>
            <p class="accounting-services__block-text accounting-services__block--two-text">Документальное
                оформление всех хозяйственных операций предприятия</p>
        </div>

        <div class="accounting-services__block accounting-services__block-three wow animate__animated animate__zoomIn">
            <a href="#">Формирование отчетности</a>
            <p class="accounting-services__block-text">Формирование финансового результата предприятия</p>
        </div>

        <div class="accounting-services__block accounting-services__block-four wow animate__animated animate__zoomIn">
            <a href="#">Консультирование организаций</a>
            <p class="accounting-services__block-text accounting-services__block--four-text">Консультирование по
                вопроса оптимизации финансовой функции и бухгалтерскому учету</p>
        </div>

        <div class="accounting-services__block accounting-services__block-five wow animate__animated animate__zoomIn">
            <a href="#">Помощь в подборе персонала</a>
            <p class="accounting-services__block-text">Помощь в подборе персонала в отдел бухгалтерского и
                налогового учета</p>
        </div>

        <div class="accounting-services__block accounting-services__block-six wow animate__animated animate__zoomIn">
            <a href="#">Расчеты</a>
            <p class="accounting-services__block-text accounting-services__block--six-text">Расчет заработной платы
                и налогов</p>
        </div>

        <div class="accounting-services__block accounting-services__block-seven wow animate__animated animate__zoomIn">
            <a href="#">Налоговая отчетность</a>
            <p class="accounting-services__block-text">Оформление и подача бухгалтерской и налоговой отчетности в
                соответствующие</p>
        </div>

        <div class="accounting-services__block accounting-services__block-eight wow animate__animated animate__zoomIn">
            <a href="#">Восстановление бухгалтерского учета</a>
            <p class="accounting-services__block-text">Восстановление функционирования предприятия и бухгалтерского
                учета</p>
        </div>
    </div>
    <div class="accounting-services__to-order">
        <div class="accounting-services__button">
            <button class="common-styles__button">Заказать бухгалтерские услуги</button>
        </div>
    </div>
</section>