<section class="communication">
    <div class="communication__headline wow animate__animated animate__zoomIn">
        <h2 class="common-styles__headline">С кем можно связаться через сайт</h2>
    </div>
    <p class="communication__text wow animate__animated animate__zoomIn">Свяжитесь с одним из сотрудников и получите консультацию по работе с нашей
        компанией</p>
    <div class="communication__common container">
        <div class="communication__block wow animate__animated animate__flipInY">
            <img src="../../www/img/communication-1.jpg" alt="">
            <h3>Евгений Александрович</h3>
            <p class="communication__position">Директор компании</p>
            <p class="communication__phone">+7 929 568 98 98</p>
        </div>

        <div class="communication__block wow animate__animated animate__flipInY">
            <img src="../../www/img/communication-2.jpg" alt="">
            <h3>Виталий Дое</h3>
            <p class="communication__position">Менеджер продаж</p>
            <p class="communication__phone">+7 929 568 98 98</p>
        </div>

        <div class="communication__block wow animate__animated animate__flipInY">
            <img src="../../www/img/communication-3.jpg" alt="">
            <h3>Екатерина</h3>
            <p class="communication__position">Старший менеджер</p>
            <p class="communication__phone">+7 929 568 98 98</p>
        </div>
    </div>
</section>