
    <section class="pricings-plans">
        <h4>quality has its price</h4>
        <h2>Pricings & Plans</h2>
        <img class="pricings-plans__img-main" src="../../www/img/daag.png">
        <div class="pricings-plans__block container">

            <div class="pricings-plans__profile wow animate__animated animate__zoomIn">
                <p class="pricings-plans__text">A shoe is not only a design, but it's a part of your body language, the way you walk. The way you're going to move is quite dictated by your shoes.</p>
                <div class="pricings-plans__img-text">
                    <img src="../../www/img/img-5.jpg">
                    <div>
                        <h5>Dean Winchester</h5>
                        <h3>UX DESIGNER, GOOGLE INC.</h3>
                    </div>
                </div>
            </div>

            <div class="pricings-plans__profile wow animate__animated animate__zoomIn">
                <p class="pricings-plans__text">A shoe is not only a design, but it's a part of your body language, the way you walk. The way you're going to move is quite dictated by your shoes.</p>
                <div class="pricings-plans__img-text">
                    <img src="../../www/img/img-2.jpg">
                    <div>
                        <h5>Dean Winchester</h5>
                        <h3>UX DESIGNER, GOOGLE INC.</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="pricings-plans__get">
            <div class="pricings-plans__get-block container">
                <h2>Like what you see? Get this great theme now!</h2>
                    <button>view features</button>
                    <button class="pricings-plans__button-activ">download now</button>
            </div>
        </div>
    </section>