
<section class="product-overview container">
    <h4>product overview</h4>
    <h2>List of amazing features</h2>
    <img src="../../www/img/daag.png">

    <div class="product-overview__common">
        <div class="product-overview__item-block wow animate__animated animate__zoomIn">
            <div class="product-overview__icon-common"><i class="fas fa-desktop product-overview__icon"></i></div>
            <h3>Responsive</h3>
            <p>Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.</p>
        </div>

        <div class="product-overview__item-block wow animate__animated animate__zoomIn">
            <div class="product-overview__icon-common"><i class="fas fa-cog product-overview__icon"></i></div>
            <h3>Responsive</h3>
            <p>Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.</p>
        </div>

        <div class="product-overview__item-block wow animate__animated animate__zoomIn">
            <div class="product-overview__icon-common"><i class="fab fa-facebook-f product-overview__icon"></i></div>
            <h3>Responsive</h3>
            <p>Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.</p>
        </div>

        <div class="product-overview__item-block wow animate__animated animate__zoomIn">
            <div class="product-overview__icon-common"><i class="fas fa-mobile-alt product-overview__icon"></i></div>
            <h3>Responsive</h3>
            <p>Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.</p>
        </div>
    </div>
</section>