
<section class="strategic-process">
    <div class="strategic-process__common">
        <div class="container">
            <h2 class="style-common__headline"><span class="style-common__headline-color">S</span>trategic <span
                    class="strategic-process__headline">P</span>rocess</h2>
            <p class="strategic-process__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                facilisis molestie dignissim. Nulla pellentesque et nisi et euismod. Pellentesque quis tristique
                magna.</p>
            <p class="strategic-process__block-text">Maecenas est risus, tristique volutpat sagittis vel, feugiat
                consectetur diam. Suspendisse justo sem, molestie tincidunt rhoncus vel, molestie ut ligula. Mauris
                vitae ullamcorper odio. Mauris id enim gravida, tempor velit non, vehicula lacus. Sed rutrum tempus
                urna, sed aliquam lectus egestas eu. Maecenas est risus, tristique volutpat sagittis vel, feugiat
                consectetur diam. Suspendisse justo sem, molestie tincidunt rhoncus vel, molestie ut ligula. Mauris
                vitae ullamcorper odio. Mauris id enim gravida, tempor velit non, vehicula lacus. Sed rutrum tempus
                urna, sed aliquam lectus egestas eu. Maecenas est risus, tristique volutpat sagittis vel, feugiat
                consectetur diam. Suspendisse justo sem, molestie tincidunt rhoncus vel, molestie ut ligula. Mauris
                vitae ullamcorper odio. Mauris id enim gravida, tempor velit non, vehicula lacus. Sed rutrum tempus
                urna, sed aliquam lectus egestas eu. Maecenas est risus, tristique volutpat sagittis vel, feugiat
                consectetur diam. Suspendisse justo sem, molestie tincidunt rhoncus vel, molestie ut ligula. Mauris
                vitae ullamcorper odio. Mauris id enim gravida, tempor velit non, vehicula lacus. Sed rutrum tempus
                urna, sed aliquam lectus egestas eu.</p>

            <div class="strategic-process__common-item">
                <div class="strategic-process__item">
                    <div class="strategic-process__img"><img
                            src="../../www/img/strategic-process/strategic-process-item-1.png" alt=""></div>
                    <div class="strategic-process__item-block-text">
                        <h4><span>O</span>ur <span>P</span>rocess</h4>
                        <p class="strategic-process__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nulla facilisis molestie dignissim. Nulla pellentesque et nisi et euismod. Pellentesque
                            quis tristique magna.</p>
                        <p class="strategic-process__block-text">Maecenas est risus, tristique volutpat sagittis
                            vel, feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt rhoncus vel,
                            molestie ut ligula. Mauris vitae ullamcorper odio. Mauris id enim gravida, tempor velit
                            non, vehicula lacus. Sed rutrum tempus urna, sed aliquam lectus egestas eu</p>
                    </div>
                </div>

                <div class="strategic-process__item strategic-process__item--block">
                    <div class="strategic-process__img"><img
                            src="../../www/img/strategic-process/strategic-process-item-2.png" alt=""></div>
                    <div class="strategic-process__item-block-text">
                        <h4><span>M</span>ethod</h4>
                        <p class="strategic-process__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nulla facilisis molestie dignissim. Nulla pellentesque et nisi et euis</p>
                        <p class="strategic-process__block-text">Maecenas est risus, tristique volutpat sagittis
                            vel, feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt rhoncus vel,
                            molestie ut ligula. Mauris vitae ullamcorper odio. Mauris id enim gravida, tempor velit
                            non, vehicula lacus. Sed rutrum tempus urna, sed aliquam lectus egestas eu</p>
                    </div>
                </div>

                <div class="strategic-process__item">
                    <div class="strategic-process__img"><img
                            src="../../www/img/strategic-process/strategic-process-item-3.png" alt=""></div>
                    <div class="strategic-process__item-block-text strategic-process__item-block-text--block">
                        <h4><span>O</span>utcome</h4>
                        <p class="strategic-process__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nulla facilisis molestie dignissim. Nulla pellentesque et nisi et euismod. Pellentesque
                            quis tristique magna.</p>
                        <p class="strategic-process__block-text">Maecenas est risus, tristique volutpat sagittis
                            vel, feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt rhoncus vel,
                            molestie ut ligula. Mauris vitae ullamcorper odio. Mauris id enim gravida, tempor velit
                            non, vehicula lacus. Sed rutrum tempus urna, sed aliquam lectus egestas eu</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>