
    <section class="about">
        <div class="about__common">
            <div class="container">
                <div class="about__block-one-common">
                    <div class="about__headline-block">
                        <h4><span class="about__headline">A</span>bout</h4>
                        <h2><span class="style-common__headline-color">S</span>ublime</h2>
                    </div>

                    <div class="about__block-text">
                        <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis
                            molestie dignissim. Nulla pellentesque et nisi et euismod. Pellentesque quis tristique
                            magna.</p>
                        <p class="about__text-two">Maecenas est risus, tristique volutpat sagittis vel, feugiat
                            consectetur diam. Suspendisse justo sem, molestie tincidunt rhoncus vel, molestie ut ligula.
                            Mauris vitae ullamcorper odio. Mauris id enim gravida, tempor velit non, vehicula lacus. Sed
                            rutrum tempus urna, sed aliquam lectus egestas eu. Maecenas est risus, tristique volutpat
                            sagittis vel, feugiat consectetur diam. Suspendisse justo sem, molestie tincidunt rhoncus
                            vel, molestie ut ligula. Mauris vitae ullamcorper odio. Mauris id enim gravida, tempor velit
                            non, vehicula lacus. Sed rutrum tempus urna, sed aliquam lectus egestas eu</p>
                    </div>
                </div>

                <div class="about__block-icon-common">
                    <div class="about__block-icon">
                        <div class="about__img">
                            <img src="../../www/img/about/about.png" alt="">
                        </div>
                        <h3>App Development</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim.
                            Nulla pellentesque et nisi et euismod. Pellentesque quis tristique magna.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim.
                            Nulla pellentesque et nisi et euismod. Pellentesque quis tristique magna.</p>
                    </div>

                    <div class="about__block-icon">
                        <div class="about__img">
                            <img src="../../www/img/about/about.png" alt="">
                        </div>
                        <h3>App Development</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim.
                            Nulla pellentesque et nisi et euismod. Pellentesque quis tristique magna.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim.
                            Nulla pellentesque et nisi et euismod. Pellentesque quis tristique magna.</p>
                    </div>

                    <div class="about__block-icon">
                        <div class="about__img">
                            <img src="../../www/img/about/about.png" alt="">
                        </div>
                        <h3>App Development</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim.
                            Nulla pellentesque et nisi et euismod. Pellentesque quis tristique magna.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis molestie dignissim.
                            Nulla pellentesque et nisi et euismod. Pellentesque quis tristique magna.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>