@font-face {
    font-family: 'Abraham Lincoln';
    src: url('AbrahamLincoln.woff2') format('woff2'),
        url('AbrahamLincoln.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

