
    <section class="projects">
        <div class="projects__common">
            <div class="container">
                <h2 class="style-common__headline"><span class="style-common__headline-color">F</span>eatured
                <span>P</span>rojects</h2>
                <nav class="projects__menu">
                    <ul>
                        <li><a href="#">ALL WORKS</a></li>
                        <li><a href="#">GAMES</a></li>
                        <li><a href="#">APPLICATIONS</a></li>
                        <li><a href="#">CONTENT DEVELOPMENT</a></li>
                    </ul>
                </nav>
            </div>

            <div class="projects__block-img">
                <img src="../../www/img/projects/projects-1.png" alt="">
                <img src="../../www/img/projects/projects-2.png" alt="">
                <img src="../../www/img/projects/projects-3.png" alt="">
                <img src="../../www/img/projects/projects-4.png" alt="">
                <img src="../../www/img/projects/projects-5.png" alt="">
                <img src="../../www/img/projects/projects-6.png" alt="">
                <img src="../../www/img/projects/projects-7.png" alt="">
                <img src="../../www/img/projects/projects-8.png" alt="">
            </div>
        </div>
    </section>