<section class="reviews">
    <div class="reviews__headline wow animate__animated animate__zoomIn">
        <h2 class="common-styles__headline">Отзывы клиентов</h2>
    </div>
    <p class="reviews__headline-text wow animate__animated animate__zoomIn">Послушайте, что о нас говорят благодарные клиенты:</p>

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner wow animate__animated animate__bounceInUp">
            <div class="carousel-item active">
                <div class="reviews__block">
                    <img src="../../www/img/communication-1.jpg" alt="">
                    <h3>Михаил Алексеевич Потапов</h3>
                    <p class="reviews__company">ОАО “Роскомнадзор”</p>
                    <p class="reviews__text">Далеко-далеко за словесными горами в стране, гласных и согласных живут
                        рыбные тексты. Подзаголовок вскоре, деревни? Вопроса строчка пор, последний вершину
                        заглавных единственное? Над щеке злых, залетают то безорфографичный своих текстов бросил
                        живет. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
                        Подзаголовок вскоре, деревни? Вопроса строчка пор, последний вершину заглавных единственное?
                        Над щеке злых, залетают то безорфографичный своих текстов бросил живет.</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="reviews__block">
                    <img src="../../www/img/communication-2.jpg" alt="">
                    <h3>Михаил Алексеевич Потапов</h3>
                    <p class="reviews__company">ОАО “Роскомнадзор”</p>
                    <p class="reviews__text">Далеко-далеко за словесными горами в стране, гласных и согласных живут
                        рыбные тексты. Подзаголовок вскоре, деревни? Вопроса строчка пор, последний вершину
                        заглавных единственное? Над щеке злых, залетают то безорфографичный своих текстов бросил
                        живет. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
                        Подзаголовок вскоре, деревни? Вопроса строчка пор, последний вершину заглавных единственное?
                        Над щеке злых, залетают то безорфографичный своих текстов бросил живет.</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="reviews__block">
                    <img src="../../www/img/communication-3.jpg" alt="">
                    <h3>Михаил Алексеевич Потапов</h3>
                    <p class="reviews__company">ОАО “Роскомнадзор”</p>
                    <p class="reviews__text">Далеко-далеко за словесными горами в стране, гласных и согласных живут
                        рыбные тексты. Подзаголовок вскоре, деревни? Вопроса строчка пор, последний вершину
                        заглавных единственное? Над щеке злых, залетают то безорфографичный своих текстов бросил
                        живет. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
                        Подзаголовок вскоре, деревни? Вопроса строчка пор, последний вершину заглавных единственное?
                        Над щеке злых, залетают то безорфографичный своих текстов бросил живет.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>